{% extends 'main.html' %}
{% block content %}

<!--{{message}}-->
<p><b> ................This is the project {{page1}} page ..........................</b></p>


<!--{% if number > 10 %}-->
<!--<p> number is greater than 10</p>-->

<!--{% elif number == 10 %}-->
<!--<p>Number is exactly 10</p>-->

<!--{% else %}-->
<!--<p>number is less than 10</p>-->

<!--{% endif %}-->
<!--<hr>-->

<!--<h1>project templates.........</h1>-->

<table>
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>positive_Votes</th>
        <th>Ratio</th>
        <th></th>
    </tr>
    {% for project in projects %}
        <tr>
            <td>{{project.id}}</td>
            <td>{{project.title}}</td>
            <td>{{project.vote_total}}%</td>
            <td>{{project.vote_ratio}}</td>
            <td>{{project.created}}</td>
            <td><a href="{% url 'project' project.id %}">view</a></td>
        </tr>
    {% endfor %}
</table>



<ul>
    {% for project in projects %}
        <li>id:{{project.id}}</li>
        <li>title:<a href="{% url 'project' project.id %}">{{project.title}}</a></li>
        <li>{{project.created}}</li>
        <li>Des:{{project.Des}}</li>
    {% endfor %}
</ul>


{% endblock %}